* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Times New Roman", sans-serif;
}
body {
background: #FFF3EB;
color: #705346;
margin: 0;
padding: 0;
font-family: "Times New Roman", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.container {
background: #ffffffcc;
backdrop-filter: blur(8px);
padding: 30px;
width: 380px;
border-radius: 20px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
animation: fadeIn 0.6s ease;
}


h2 {
text-align: center;
margin-bottom: 20px;
color: #333;
}


label {
font-weight: 600;
color: #555;
}


input, textarea {
width: 100%;
padding: 12px;
margin: 8px 0 18px;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 15px;
outline: none;
transition: 0.3s;
}


input:focus, textarea:focus {
border-color: #7ab8ff;
box-shadow: 0 0 6px rgba(122, 184, 255, 0.6);
}


button {
width: 100%;
padding: 12px;
background: #7ab8ff;
border: none;
border-radius: 10px;
cursor: pointer;
color: white;
font-size: 16px;
font-weight: 600;
transition: 0.3s;
}


button:hover {
background: #5da7ff;
transform: translateY(-2px);
}
